backcall==0.2.0
decorator==5.1.1
entrypoints==0.3
ipykernel==5.5.6
ipython==7.16.2
ipython-genutils==0.2.0
jedi==0.17.2
joblib==1.1.0
jupyter-client==7.1.1
jupyter-core==4.9.1
lightgbm==3.3.2
llvmlite==0.36.0
nest-asyncio==1.5.4
numba==0.53.1
numpy==1.19.5
pandas==1.1.5
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.24
ptyprocess==0.7.0
Pygments==2.11.2
python-dateutil==2.8.2
pytz==2021.3
pyzmq==22.3.0
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
threadpoolctl==3.0.0
tornado==6.1
traitlets==4.3.3
wcwidth==0.2.5
